<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Llamadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Llamadas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let contacto of contacto" [routerLink]="['/contacto', contacto.id]">
      <ion-avatar slot="start">
        <ion-img [src]="contacto.imageURL"></ion-img>
      </ion-avatar>
        <ion-label>
          {{contacto.title}}
          <p>{{contacto.comments}}</p>
        </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
