<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="ATRÁS"
        color="medium">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      {{contacto.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>
  <p></p>
  <center><ion-avatar>
      <ion-img [src]="contacto.imagenURL"></ion-img>
    </ion-avatar></center>

  <h1 class="ion-text-center">{{contacto.title}}</h1>
  <h3 class="ion-text-center">{{contacto.comments}}</h3>


  <ion-element><ion-button expand="block" Href="/">REGRESAR</ion-button></ion-element>

</ion-content>
